*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>.container{
    flex-grow: 1;
}

aside.player-music{
    height: auto;
    flex-shrink: 0;
}