*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/***struttura***/
body{
    height: 100vh;
}

body>.container.row{
    flex-grow: 1;
}

aside.player-music{
    height: auto;
    flex-shrink: 0;
}

header.main-header{
    width: 230px;
    flex-shrink: 0;
    overflow: hidden;
}

main.content{
    flex-grow: 1;
    overflow: auto;

}

.debug{
    border: 1px solid rgb(217, 180, 13);
    padding: 30px;
}
/********/

/**row***/
.row{
    display: flex;
}

.row-column{
    display: flex;
    flex-direction: column;
}
/********/

/**mediaquery**/
@media screen and (max-width: 551px) {
    header.main-header{
        width: 50px;
    }
}
/*************/

/****aside***/
.player-music{
    background-color: #282828;
    color:white;
}

.player-music>.row{
    align-items: center;
    justify-content: space-between;
}

.col.album-option{
    align-items: center;
}

.album-played img{
    width: 50px;
}

.album-text{
    font-size: 11px;
    padding: 0 28px 0 10px;
}

.album-text .song-name{
    color: #878787;
}

.album-icone>i{
    padding: 0 7px;
    color: #878787;
}